* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
  line-height: 1.8;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  height: 100%;
}

li {
  list-style: none;
}

.page-header {
  font-size: 4rem;
  text-align: center;
  width: 50%;
  margin: 13rem auto;
}

.loader {
  font-size: 3rem;
  font-weight: bold;
}

.container {
  margin: 4rem 8rem;
  padding: 4rem;
}

.main-nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  justify-content: space-between;
  padding: 1rem;
}

.logo-img {
  margin: 0 13rem;
}

.main-nav-ul {
  display: flex;
  margin: 1.3rem;
  padding: 1rem;
  gap: 8rem;
  justify-content: space-between;
}

.main-nav-li {
  transition: 0.1s all linear;
}

.main-nav-li:hover {
  transform: translate(4%) scale(1.1);
  /* transform:  scale(1.1); */
  font-weight: bold;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  font-size: 1.5rem;
  color: #000;
  /* font-weight: 500; */
  transition: 0.5s all ease-in-out;
}

.active {
  border-bottom: 2px solid #000200;
  transition: 0.4s all linear;
}

.burger-menu {
  display: flex;
  align-items: center;
  gap: 5rem;
  margin: 0 4rem;
}

.home {
  margin: 13rem 0;
}

.h1-text {
  font-size: 10rem;
  font-weight: bold;
}

.header-container {
  margin-top: 9rem;
}

.social-icons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 4rem 8rem;
}

.icons {
  border: 1px solid #000;
  border-radius: 9px;
  padding: 0.2rem;
}

.flex {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.media-flex {
  display: grid;
  grid-template-columns: 42% 70%;
  align-items: center;
}

.ml {
  margin-left: 20rem;
}

.text {
  font-size: 1.7rem;
  width: 70%;
  text-align: center;
}

.a-t,
.m_l {
  margin-left: 28%;
}

.m_l {
  margin-left: 10%;
}

.m-l {
  margin-left: 10%;
}

.about {
  background-color: #010101;
  padding: 8rem;
  margin: 0;
  position: relative;
}

.text-description {
  color: #fff;
  font-size: 2.5rem;
  text-align: justify;
  margin: auto;
}

.span {
  font-size: 1.4rem;
  color: #fff;
}

hr {
  margin: 4rem 0;
}

.btn {
  background-color: #d9d9d9;
  border-radius: 50%;
  font-size: 1.6rem;
  padding: 5rem 0.5rem;
  text-align: center;
  margin: 4rem 44%;
  transition: 0.3s all linear;
  cursor: pointer;
  rotate: -20deg;
  color: #000;
  font-weight: 700;
}

.btn:hover,
.btn:active {
  background-color: #a59b9b;
  transform: scale(1.03);
  color: #fff;
  font-weight: bold;
  border: none;
  outline: none;
}

.case-study {
  background-color: #f1b351;
  height: 55rem;
  width: 26%;
  padding: 4rem;
  margin: 6rem auto;
}

.case-header {
  color: #fff;
  font-size: 6rem;
  text-align: center;
}

.case-text {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 17rem;
}

.span-text {
  position: absolute;
  bottom: 28%;
  left: 34%;
  letter-spacing: 1rem;
}

.service {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  margin: 8rem 25rem;
  border-bottom: 2px solid #000;
}

.primary-header {
  font-size: 9rem;
}

.hover {
  transition: 0.5s all linear;
}

.hover:hover,
.hover:active {
  transform: translate(4%);
}

.arc {
  margin-left: 18rem;
}

.serv-btn {
  background-color: #e4e4e4;
  padding: 0.5rem 2rem;
  border-radius: 9rem;
  font-size: 1.6rem;
}

.serv {
  margin-top: 3rem;
}

.s-s {
  border-bottom: none;
  border-top: 2px solid #000;
  margin: 0 auto;
}

.wk {
  margin-left: 27rem;
}

.port-serv {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #000;
}

.img {
  height: 50%;
  width: 50%;
}

.grid-_2-cols {
  display: flex;
  gap: 3rem;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.s-t {
  font-size: 3.5rem;
  width: 20%;
}

.img {
  margin: 3rem 0;
  transition: 0.5s all linear;
}

.img:hover,
.img:active {
  transform: scale(1.01) translateY(0.5%);
}

.block {
  position: absolute;
  top: 53%;
  left: 51%;
}

.bloc {
  margin-top: 15%;
}

.see {
  background-color: #000;
  color: #fff;
  border-radius: 90rem;
  padding: 4rem 0;
  text-align: center;
  margin: 4rem auto;
  width: 8%;
  font-size: 1.8rem;
  transition: 0.3s all linear;
  cursor: pointer;
}

.see:hover,
.see:active,
.submit:hover,
.submit:active {
  transform: scale(1.06) rotate(-15deg);
}

.blog {
  display: flex;
  position: relative;
  align-items: center;
  gap: 4rem;
  margin-top: 15rem;
}

.blog-p {
  font-size: 1.5rem;
}

.blog-head {
  background-color: #fff;
  text-align: center;
  padding: 2rem;
}

.blog-h2 {
  color: #000;
}

.sleepless {
  margin: 2rem;
}

.s-1 {
  position: absolute;
  left: 36%;
  top: -20%;
}

.s-a {
  font-size: 1.3rem;
}

.s-2 {
  left: 72%;
  top: -50%;
}

.b-img {
  width: 40rem;
  height: 100%;
  transition: 0.5s all linear;
}

.b-img:hover,
.b-img:active {
  transform: scale(1.02);
}

.moving {
  background-color: #f1b351;
  padding: 2.5rem;
  text-align: center;
  margin: 10rem 0;
}

.move {
  font-size: 3rem;
}

.b-o {
  border-bottom: 1px solid #000;
}

.t-o {
  margin-left: 22rem;
}

.g-d {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: baseline;
}

.txt {
  font-size: 1.5rem;
  text-align: justify;
}

.t-x {
  width: 70%;
}

.form-li {
  margin: 1.4rem 0;
}

.form-flex {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.input,
.textarea {
  padding: 1.2rem;
  border-radius: 9px;
  width: 30rem;
  resize: none;
}

.textarea {
  width: 100%;
  padding: 3rem;
}

.submit {
  background-color: #000;
  color: #fff;
  padding: 3rem 2rem;
  border-radius: 50%;
  text-align: center;
  margin: 0 25rem;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s all linear;
  rotate: -20deg;
}

.footer {
  background-color: #000;
  margin-top: 14rem;
  padding: 2rem;
}

.footer-link:link,
.footer-link:visited {
  color: #fff;
}

.footer-nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-des {
  text-align: center;
  font-size: 1.5rem;
  line-height: 3;
}

.footer-icons {
  color: #eee;
  display: flex;
  flex-direction: row;
  /* margin: auto; */
}

.link {
  color: #fff;
  text-decoration: none;
}

.abt {
  background-color: transparent;
}

.abt-text,
.spn {
  color: #000;
}

.view {
  color: #fff;
  background: #000;
  font-size: 1.3rem;
  font-weight: bold;
}

.move-btn {
  border: none;
  outline: none;
  background-color: transparent;
  font-weight: bold;
  cursor: pointer;
}

.mov {
  margin: 4rem 0;
}

.h1-img {
  width: 100%;
  height: 70vh;
}

.image {
  position: relative;
}

.h1 {
  position: absolute;
  top: -31%;
  left: 14%;
  color: #fff;
}

.sec-header {
  font-size: 2.4rem;
}

.fvt {
  font-size: 1.8rem;
}

.s-p {
  font-size: 1rem;
}

.fvt-std {
  padding: 1rem;
}

.p-h {
  top: 39%;
}

.f-img {
  width: 30%;
  height: 30%;
}

.fl {
  margin-top: 5rem;
}

.flex-text {
  display: flex;
  margin-top: 4rem;
  align-items: center;
}

.tx {
  font-size: 1.7rem;
  font-weight: bold;
}

.p-t {
  font-size: 3.5rem;
  width: 20%;
  font-weight: bold;
}

.p-m {
  margin: 4rem 0;
  cursor: pointer;
}

.portfolio-link {
  color: #000;
  text-decoration: none;
}

.port-img {
  /* position: absolute; */
  margin-left: 44%;
}

.p-l {
  position: absolute;
  left: 18%;
}

.portfolio-header {
  font-size: 8rem;
}

.portfolio-h1 {
  top: -30%;
}

.grid--2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-2--cols {
  margin: 5rem 3rem;
}

.arc-img {
  height: 100%;
  width: 100%;
}

.port-text {
  cursor: pointer;
  color: #eeeeee;
  color: #000;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

.port-text:hover,
.port-text:active {
  color: #fff;
  text-decoration: underline;
}

.text-desc {
  color: #000;
}

.arc-h1 {
  top: 25%;
}

.arc-design {
  margin-left: 48rem;
}

.prod-design {
  margin-left: 20rem;
}

.cursor {
  cursor: pointer;
}

.tertiary-header {
  font-size: 2.5rem;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.details-text {
  font-size: 1.8rem;
}

.grid-margin {
  margin: 3rem;
}

.p-img {
  height: 70%;
  height: 100vh;
  width: 100%;
  margin: 3rem 0;
}

.imgs {
  margin: 3rem 0;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-3-img {
  width: 100%;
  height: 30rem;
  height: 60vh;
  transition: all 0.3s linear;
}

.grid-3-img:hover,
.grid-3-img:active {
  transform: scale(1.05);
}

.grid-4-txt {
  display: flex;
  align-items: center;
  gap: 7rem;
  line-height: 2;
}

.blog-li {
  list-style: disc;
}

.ab-blog {
  top: 67%;
  left: 37%;
}

.blog-header {
  font-size: 5rem;
  margin: 3rem 5rem;
}

.grid-3-cols {
  overflow: hidden;
  cursor: pointer;
}

.blogs {
  margin: 2rem;
  padding: 2rem;
}

.nur-header {
  font-size: 2rem;
}

.blog-text {
  font-size: 1.7rem;
}

.blog-txt {
  font-size: 1.2rem;
}

.blog-tt {
  font-size: 1.5rem;
  line-height: 2;
}

.eng {
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
}

.eng-link {
  color: #d9d9ff;
  font-weight: bold;
}

.design-div {
  /* gap: 2rem; */
  display: flex;
}

.blog-description {
  color: #000;
  line-height: 3;
  font-size: 1.6rem;
}

.blog-container {
  max-width: 90rem;
  margin: auto;
}

.blog-texts {
  font-size: 1.5rem;
}

.h2 {
  font-size: 3rem;
}

.secondary-header {
  font-size: 2.3rem;
}

.blog-link {
  color: #000;
  font-size: 1.5rem;
}

.blog--link {
  text-align: center;
  margin: 3rem 0;
}

.collections {
  background-color: #f0ebeb4e;
  margin-top: 10rem;
}

.blog-form {
  /* margin: 2rem 30rem; */
  padding-top: 8rem;
}

.form-block {
  display: flex;
}

.input-payment {
  padding: 1.4rem;
  width: 100%;
  margin: 1.3rem;
}

.input-blog {
  padding: 4rem;
  width: 98%;
  border-radius: 0;
}

.btn-sign-in {
  background-color: #000;
  border: none;
  outline: none;
  color: #fff;
  padding: 1.5rem;
  width: 25%;
  margin: 0 1.5rem 3rem;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1.6rem;
  transition: all 0.5s linear;
  opacity: 70%;
  cursor: pointer;
}

.btn-sign-in:hover,
.btn-sign-in:active {
  transform: translate(1%) scale(1.03);
  opacity: 100%;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid-4-cols {
  margin: 1.5rem 1rem 1rem 0;
  overflow: hidden;
}

.pointer {
  cursor: pointer;
}

/* .grid-_2-cols {
  margin: 10rem 4rem;
  transition: 0.5s all ease-in;
} */

.checkout-grid {
  padding: 7rem;
  background-color: #e5e3e31d;
}

.product-grid {
  margin-top: 6rem;
  /* height: 100vh; */
  line-height: 2;
}

.desc {
  color: #000;
  font-size: 1.5rem;
}

.text-descriptions {
  font-size: 1.4rem;
}

.product-image {
  width: 80%;
  height: 50vh;
}

.grid-4-image {
  height: 40vh;
  width: 90%;
  border-radius: 9px;
  transition: all 0.8s ease-in-out;
}

.product-text {
  text-align: center;
}

.btn-arr {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.8rem;
  margin: 3rem 0;
}

.prod {
  margin-top: 7rem;
}

.prodd {
  cursor: pointer;
}

